*{
    padding: 0;
    margin: 0;
}

.body-container {
    text-align: center;
    padding-top: 50px;
    background-color: midnightblue;
}

.poke-container {
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: black;
    color: white;
}

.poke-container p {
    margin-top: 20px;
}

.pokemon-name {
    background-color: maroon;
    margin-bottom: 0;
}

.poke-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 250px;
    height: 250px;
}