*{
    padding: 0;
    margin: 0;
}

.body-container {
    text-align: center;
    margin-top: 50px;
}

.poke-container {
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
}

.poke-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}